@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=monospace');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	background-color: rgb(44, 44, 44);
	min-height: 100vh;
	display:flex;
	flex-direction:column;
}

h1 {
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(44, 44, 44);
	padding-top: 26px;
	padding-bottom: 26px;
	color: #DBDBDB;
	font-size: 2em;
	display: flex;
	justify-content: center;
}

.titre {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	text-align: center;
}

.basil {
	height: 2em;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 0.3em;
}

nav {
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
  	text-align: center;
  	padding: 0;
  	width: 80%;
  	background-color: rgb(44, 44, 44);
  	position:relative;
  	justify-content: space-around;
}

button {
	margin: 0;
  	background-color: #6A7466;
  	width: 100%;
  	height: 70px;
}

.selector {
  	color: rgb(255, 255, 255);
  	font-size: 16px;
  	font-family: 'Poppins', sans-serif;
  	display: block;
  	padding-top: 8px;
  	padding-bottom: 8px;
  	text-transform: uppercase;
  	position: relative;
  	z-index: 2;
  	text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  	letter-spacing: .2em;
  	text-decoration: none;
  	transition: color 200ms;
  	transform-style: preserve-3d;
}
.selector:hover {
  	color: #59910F;
}

.subject{
	margin-top: 26px;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	color: #DBDBDB;
	font-family: 'Roboto', sans-serif;
}

h2 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.link {
	color: #DBDBDB;
}
.link:hover {
	color: #59910F;
}

.discord {
	margin-top: 52px;
}

.screenshot {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

.scroll {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 26px;
	overflow-y: scroll;
	height: 60vh;
	background-color: rgb(0, 0, 0);
}

.terminal {
	margin: 0;
	display: block;
	text-align: left;
	color: rgb(255, 255, 255);
	font-family: monospace, sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user {
	color: #4e9a06;
	font-weight: bold;
}

.folder {
	color: #32afff;
}

.cmd {
	color: #ef2929;
}

.attribute {
	color: #fce94f;
}

.input {
	color: #34e2e2;
}

.important {
	color: #ad7fa8;
}

.grey {
	color: #d3d7cf;
}



article { flex:1;
}

footer {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(44, 44, 44);
	text-align: center;
}

.github {
	color: #DBDBDB;
	font-family: 'Poppins', sans-serif;
  	position: relative;
  	z-index: 2;
  	text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  	text-decoration: none;
  	transition: color 200ms;
  	transform-style: preserve-3d;
}
.github:hover{
	color: #59910F;
}