@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	margin: 0;
	background-color: rgb(44, 44, 44);
	min-height: 100vh;
	display:flex;
	flex-direction:column;
}

h1 {
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(44, 44, 44);
	padding-top: 26px;
	padding-bottom: 26px;
	color: #DBDBDB;
	font-size: 2em;
	display: flex;
	justify-content: center;
}

.titre {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	text-align: center;
}

.basil {
	height: 2em;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 0.3em;
}

nav {
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
  	text-align: center;
  	padding: 0;
  	width: 80%;
  	background-color: rgb(44, 44, 44);
  	position:relative;
  	justify-content: space-around;
}

button {
	margin: 0;
  	background-color: #6A7466;
  	width: 100%;
  	height: 70px;
}

.selector {
  	color: rgb(255, 255, 255);
  	font-size: 16px;
  	font-family: 'Poppins', sans-serif;
  	display: block;
  	padding-top: 8px;
  	padding-bottom: 8px;
  	text-transform: uppercase;
  	position: relative;
  	z-index: 2;
  	text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  	letter-spacing: .2em;
  	text-decoration: none;
  	transition: color 200ms;
  	transform-style: preserve-3d;
}
.selector:hover {
  	color: #59910F;
}

article { flex:1;
}

div {
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgb(44, 44, 44);
	color: #DBDBDB;
	display: block;
}

.pictures {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-basis: calc(100% / 3);
	align-items: center;
}

.grid {
	width: calc(100% / 3 - 24px);
	margin-left: 4px;
	margin-right: 4px;
}


footer {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(44, 44, 44);
	text-align: center;
}

.github {
	color: #DBDBDB;
	font-family: 'Poppins', sans-serif;
  	position: relative;
  	z-index: 2;
  	text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  	text-decoration: none;
  	transition: color 200ms;
  	transform-style: preserve-3d;
}
.github:hover{
	color: #59910F;
}